<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 mb-3 shadow-lg p-3 bg-white rounded">
                <div class="card-header bg-white text-center">
                    <h2 class="combos-font-size">Combos</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card col-12 col-sm-6">
                            <div class="card-body">
                                <div class="card-img-top text-center">
                                    <img  src="./assets/img/combo01.jpg" width="100%" height="100%" alt="">
                                </div>
                                <h6>{{combo_01_name}}</h6>
                                <b class="mr-2">{{ combo_01_basePrice | currency: 'USD'}}</b>
                                <small><s>{{ combo_01_listPrice | currency: 'USD'}}</s></small> 
                                <div class="card-footer bg-white">
                                    <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#exampleModal">
                                        Ver más
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card col-12 col-sm-6">
                            <div class="card-body">
                                <div class="card-img-top text-center">
                                    <img  src="./assets/img/combo02.png" width="100%" height="100%" alt="">
                                </div>
                                <h6>{{combo_02_name}}</h6>
                                <b class="mr-2">{{ combo_02_basePrice | currency: 'USD'}}</b>
                                <small><s>{{ combo_02_listPrice | currency: 'USD'}}</s></small> 
                                <div class="card-footer bg-white">
                                    <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#exampleModal01">
                                        Ver más
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<form [formGroup]="form" (ngSubmit)="send_buy_combo01()" novalidate="novalidate">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{combo_01_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class=" col-6 text-center">
                    <img  src="./assets/img/combo01.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="col-6 text-center">
                    <b class="mr-2">{{ combo_01_basePrice | currency: 'USD'}}</b>
                    <br>
                    <small><s>{{ combo_01_listPrice | currency: 'USD'}}</s></small>
                    <br>
                    <em class="mr-2">{{combo_01_tam}}</em>
                    <b>( {{combo_01_measure}} )</b>
                    <br>
                    <em>{{combo_01_firm}}</em>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <small class="text-muted col-12 text-left"> Ingrese los campos para completar la compra</small>
        </div>
            <div>
                <div class="input-field ">
                        <small >Nombre *</small>
                        <input id="user_name" 
                            formControlName= "user_name" 
                            type="text"
                            class=" form-control" 
                            style="width: 100%;" 
                            [class.is-invalid]="invalidname">
                            <small *ngIf="invalidname" class="text-danger">
                                Ingrese un nombre de hasta 20 caracteres
                            </small>
                </div>
                <div class="input-field">
                    <small >Correo *</small>
                    <input formControlName= "user_email"
                            type="email" 
                            class="form-control" 
                            id="inputEmail3" 
                            style="width: 100%;"
                            [class.is-invalid]="invalidemail">
                            <small *ngIf="invalidemail" class="text-danger">
                                Ingrese un correo valido
                            </small> 
                </div>
            </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-dark btn-md" data-dismiss="modal" (click)="send_buy_combo01()">COMPRA YA</a>
            </div>
        </div>
        
    </div>
    </div>
</form>
</div>
</div>

<div class="modal fade" id="exampleModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <form [formGroup]="form" (ngSubmit)="send_buy_combo02()" novalidate="novalidate">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{combo_02_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class=" col-6 text-center">
                        <img  src="./assets/img/combo02.png" width="100%" height="100%" alt="">
                    </div>
                    <div class="col-6 text-center">
                        <b class="mr-2">{{ combo_02_basePrice | currency: 'USD'}}</b>
                        <small><s>{{ combo_02_listPrice | currency: 'USD'}}</s></small>
                        <br>
                        <em class="mr-2">{{combo_02_tam}}</em>
                        <b>( {{combo_02_measure}} )</b>
                        <br>
                        <em>{{combo_02_firm}}</em>
                    </div> 
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <small class="text-muted col-12 text-left"> Ingrese los campos para completar la compra</small>
            </div>
            <div>
                <div class="input-field ">
                        <small >Nombre *</small>
                        <input id="user_name" 
                            formControlName= "user_name" 
                            type="text"
                            class=" form-control" 
                            style="width: 100%;" 
                            [class.is-invalid]="invalidname">
                            <small *ngIf="invalidname" class="text-danger">
                                Ingrese un nombre de hasta 20 caracteres
                            </small>
                </div>
                <div class="input-field">
                    <small >Correo *</small>
                    <input formControlName= "user_email"
                            type="email" 
                            class="form-control" 
                            id="inputEmail3" 
                            style="width: 100%;"
                            [class.is-invalid]="invalidemail">
                            <small *ngIf="invalidemail" class="text-danger">
                                Ingrese un correo valido
                            </small> 
                </div>
                </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-dark btn-md" data-dismiss="modal" (click)="send_buy_combo02()">COMPRA YA</a>
                </div>
            </div>
        </div>
        </div>
    </form>
    </div>
    </div>
    
