<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 mb-3 shadow-lg bg-white rounded">
                <div class="card-header bg-white text-center">
                    <h2 class="home-font-size mt-2 mb-2">Nuestros Productos</h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card mt-3 mb-3 shadow-lg p-3 bg-white rounded">
                <div class="card-img-top text-center">
                    <img  src="./assets/img/colchon01.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Colchones</h5>
                    <p class="card-text text-aling home-font-size-text">Respaldamos la calidad de nuestros colchones para que tengas las mejores noches de tu vida.</p>
                    <div class="card-footer bg-white">
                        <a [routerLink]="['/mattresses']" type="button" class="btn btn-outline-info btn-block">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card mt-3 mb-3 shadow-lg p-3 bg-white rounded">
                <div class="card-img-top text-center">
                    <img  src="./assets/img/combo01.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Combos</h5>
                    <p class="card-text text-aling home-font-size-text">Ofrecemos un precio justo para que disfrutes del diseño, confort y descanso.</p>
                    <div class="card-footer bg-white">
                        <a [routerLink]="['/combos']" type="button" class="btn btn-outline-info btn-block">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>