.navbar-font-size{
    font-weight: bold;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    opacity: 0.8 !important;
}
.navbar-border{
    border-bottom: 1px solid;
    border-bottom-color: white;
    box-shadow: 0px 2.0px 2.5px #07c4c4;
}