<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-border">
    <a class="navbar-brand mr-5" [routerLink]="['home']" >
        <img src="./assets/img/logo.png" width="120px" alt="">
    </a>

    <button class="button-nav navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
     
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul data-toggle="collapse" data-target=".collapse.navbar-collapse" class="navbar-nav mr-auto">
        <li class="nav-item mx-auto" routerLinkActive="Active">
          <a class="nav-link navbar-font-size" [routerLink]="['mattresses']">Colchones</a>
        </li>
        <li class="nav-item mx-auto" routerLinkActive="Active">
          <a class="nav-link navbar-font-size" [routerLink]="['combos']">Combos</a>
        </li>
      </ul>
    </div>
</nav>