.footer-fon-size{
    font-weight: bold;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    text-transform: uppercase;
}
.footer-fon-size-text{
    color: #999999;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    text-transform: uppercase;
}
.footer-fon-size-url{
    font-family: Cerebri Sans,Roboto;
    letter-spacing: 0px;
    color: #07c4c4;
    opacity: 1;
}