<footer class="mt-0">
    <br>
    <div class="container text-center text-md-left mt-4">

        <div class="row">
            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Mantente informado:</h6>
                <span class="footer-fon-size-text">Ventas:</span>
                <p class="footer-fon-size-text"><small>305 734 17 61 - opción 1</small></p>
                
                <span class="footer-fon-size-text">Sac y Garantías:</span>
                <p class="footer-fon-size-text"><small>305 734 17 61 - opción 2</small></p>
                
                <p class="footer-fon-size-text"><small>Lun - Vie 8:00AM - 6:00 PM
                    Sáb 9:00AM - 2:00 PM</small>
                </p> 
            </div> 
            
            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Preguntas</h6>
                <p>
                    <a class="footer-fon-size-url" href="https://www.boxisleep.com/tienes-dudas" target="_blank"><small>¿Tienes dudas?</small></a>
                </p>
                <p>
                    <a  class="footer-fon-size-url" href="https://www.boxisleep.com/faqs" target="_blank"><small>Preguntas frecuentes</small></a>
                </p>
            </div>

            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Tiendas</h6>
                <p>
                    <a class="footer-fon-size-url" href="https://www.boxisleep.com/tiendas" target="_blank"><small>Conoce nuestras tiendas </small></a>
                </p>
            </div>
        </div>
        </div>
    <div class="text-center" style="background-color:#EBEBEB;">
        <a style="color: #585858;" href="https://www.boxisleep.com/" target="_blank"><small>© Copyright © 2020 BoxiSleep. Derechos Reservados.</small></a>
    </div>  
</footer>